@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply dark:bg-gray-900 dark:text-white transition-colors duration-200;
    }
}

@layer utilities {
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
}